a {
    color: #00F;
    text-decoration: none;
}

body {
    width: 100%;
    background: #FFE4B5;
}

header {
    padding-left: 50px;
    padding-right: 50px;
}

.center {
    width: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.ranking_back {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 250px;
    opacity: 10%;
}

h1.title {
    width: 250px;
    height: 100px;
    margin-top: 60px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    font-family: "arial black";
    font-size: 50px;
    text-align: center;
}

h2.minititle {
    width: 200px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: "arial";
    font-size: 30px;
    text-align: center;
}

hr {
    width: 80%;
    border-top: 2px dotted #000;
    margin-top: 30px;
    margin-bottom: 30px;
}

ul.menubar {
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
    padding: 0px;
}

li.menubar {
    flex-grow: 1px;
    list-style-type: none;
    text-align: center;
}

button {
    font-size: 20px;
    font-weight: bold;
    border-radius:30px;
    padding: 10px 40px 10px 40px;
}

form {
    border: 2px solid #000;
    border-radius: 10px;
    background-color: aliceblue;
    margin: 20px 10px 20px 10px;
    padding: 10px 30px 10px 30px;
    text-align: center;
}

div.listelement {
    border: 2px solid #000;
    border-radius: 10px;
    background-color: aliceblue;
    margin: 20px 10px 20px 10px;
    padding: 10px 30px 10px 30px;
    text-align: left;
}

pre {
    white-space: pre-wrap;
}

textarea {
    white-space: pre-wrap;
}